# **LAMBDA**

# Lambda Pada Python

Fungsi  lambda adalah fungsi anonim one line yang didefinisikan tanpa nama. Fungsi lambda dapat mengambil sejumlah arguments, tetapi hanya dapat memiliki satu expression. Sementara fungsi normal didefinisikan menggunakan kata kunci def, dalam python fngsi anonim didefinisikan menggunakan kata kunci lambda.


Fungsi lambda digunakan ketika fungsi sederhana hanya digunakan sekali atau untuk waktu yang singkat dalam kode kita. Penggunaannya yang paling uum adalah sebagai argumen untuk fungsi tingkat tinggi (fungsi yang menggunakan fungsi lain sebagai argumen)

In [ ]:
def penjumlahan_kuadrat(x,y):
  return x**2+y**2

dengan lambda, kita tidak perlu menggunakan def dan return, bahkan kita juga tidak perlu menuliskan namanya.

In [ ]:
lambda x,y: x**2+y**2

# Menggunakan Lambda Expression

Lambda digunakan untuk membuat fungsi dalam satu baris ekspresi. Ini adalah format untuk membuat fungsi lambda:

In [ ]:
lambda args: expression

#lambda: kata kunci untuk membuat fungsi lambda
#args: argumen atau parameter
#expression: isi fungsi

Lambda bisa memiliki lebih dari satu argumen atau parameter, tapi hanya bisa memiliki satu ekspresi atau isi

In [ ]:
greeting=lambda name: print(f"Hello, {name}")

Karena fungsi lambda tidak punya nama, jadi kita butuh variabel untuk menyimpannya.

Nanti saat kita mau panggil, kita tinggal tuiskan saja nama variabelnya seperti ini:

In [ ]:
greeting("Dian")
greeting("Ayu")

Hello, Dian
Hello, Ayu

Beberapa contoh penggunaan fungsi lambda

In [ ]:
#Fungsi lambda untuk menambahkan angka 10 kepada argument input
f=lambda x: x+10
val1=f(5)
val2=f(100)
print(val1,val2)

15 110

In [ ]:
#Fungsi lambda untuk mengalihkan dua argumen input dan menampilkan hasilnya
f=lambda x,y: x*y
val3=f(2,10)
val4=f(7,5)
print(val3, val4)

20 35

# Anonymous Function

Karena lambda adalah anonymous function, ia akan bebas menggunakan nama apa saja. Dengan kata lain, fungsi lambda bisa disimpan di variabel mana pun. Ini tentunya tidak bisa dilakukan oleh fungsi yang dibuat dengan def. Coba perhatikan ini:

In [ ]:
def say_hello(nama):
  print(f"Hello {nama}, apa kabar?")

ucapin=say_hello(nama)

NameError: ignored

Kita mencoba membuat fungsi say_hello() dengan def, kemudian menyimpannya ke dalam variabel ucapin. 

Tapi malah error!

Ini karena fungsi tersebut bukanlah anonymous yang boleh diubah-ubah namanya.

Lalu coba perhatikan di baris terakhir, fungsi lambda greeting() yang sudah dibuat disimpan lagi ke variabel yang berbeda, yakni sapa.

In [ ]:
greeting=lambda name: print(f"Hello, {name}")
sapa=greeting
greeting("Andi")

Hello, Andi

In [ ]:
sapa("Neli")

Hello, Neli

Hasilnya tidak error, karena ini adalah fungsi anonymous atau lambda.

# Eksekusi Lambda Secara Langsung

Eksekusi lambda secara langsung kelebihan fungsi lambda dibandingkan def adalah bisa kita eksekusi langsung.

Contohnya:

In [ ]:
(lambda x,y: x**2+y**2)(4,6)

52

Tanda kurung yang mengapit fungsi lambda artinya kita akan langsung mengeksekusi fungsi tersebut.

Lalu kurung berikutnya akan berisi argument.

Angka 4 dan 6 adalah argument untuk x dan y yang akan diberikan kepada fungsi lambda.

Maka kita akan langsung mendapatkan hasilnya, yakni: 4**2+6**2=52

Hasil dari eksekusi ini bisa juga kita simpan ke dalam variabel.

In [ ]:
hasil=(lambda x,y: x**2+y**2)(4,6)

# Mengapa Harus Pakai Lambda?

Kita memang tidak garus selalu menggunakan lambda, tapi dalam kasus tertentu lambda lebih baik dibandingkan fungsi biasa.

Lambda biasanya dibutuhkan saat kita ingin membuat fungsi dalam satu baris.

Biasana saat menggunakan fungsi-fungsi seperti filter(), map(), dan reduce() kita akan membutuhkan lambda.

Mengapa?

Karena di fungsi-fungsi tersebut membutuhkan parameter fungsi.

Contoh:

In [ ]:
bilangan=[10,2,8,7,5,4,3,11,0,1]
filtered_result=map(lambda x: x*x, bilangan)
print(list(filtered_result))

[100, 4, 64, 49, 25, 16, 9, 121, 0, 1]

Pada fungsi map() kita memberikan parameter dengan fungsi lambda.

Mengapa bisa begitu?

Karena lambda bisa disimpan ke dalam variabel, otomatis dia akan bisa juga jadi parameter.

Satu lagi contoh dengan fungsi filter():

In [ ]:
#menentukan bilangan genap
genap=lambda x: x%2==0
list(filter(genap, range(11)))

[0, 2, 4, 6, 8, 10]

# Contoh Pemakaian Fungsi Lambda

1. Melakukan filter tertentu pada suatu list

In [ ]:
list_nama_provinsi=['Jawa Barat','Jawa Timur','Jawa Tengah','DKI Jakarta','Banten']

#Mengambil nama provinsi dengan kata 'Jawa'
pilih_jawa=lambda k: 'jawa' in k.lower()
#Note: lower() untuk merubah huruf menadi lower case

list(filter(pilih_jawa, list_nama_provinsi))

['Jawa Barat', 'Jawa Timur', 'Jawa Tengah']

2. Mendefinisikan kolom baru dengan fungsi tertentu pada DataFrame

In [ ]:
#Impor library pandas
import pandas as pd

#Membuat list yang memuat data
hasil_ekspor=[['Rohan',455],['Elvan',250],['Irpan',495],['Soni',400],['Radhika',350],['Joni',450]]

#Membuat pandas dataframe
df=pd.DataFrame(hasil_ekspor,columns=['Eksportir','Total_Ekspor_TON'])

#Target Ekspor adalah 500 Ton
#Persentase hasil ekspor diperoleh dari Total_Ekspor_TON dibagi target x100%%
#diterapkan pada dataframe denganbantuan method df.assign()
df=df.assign(Persentase=lambda x: (x['Total_Ekspor_TON']/500*100))

#Menampilkan DafatFrame
df

  Eksportir  Total_Ekspor_TON  Persentase
0     Rohan               455        91.0
1     Elvan               250        50.0
2     Irpan               495        99.0
3      Soni               400        80.0
4   Radhika               350        70.0
5      Joni               450        90.0

# Latihan

1. Buatlah fungsi lambda untuk melakukan filter pada data range(n) untuk data-data yang berupa bilangan kelipatan 3!

In [ ]:
kelipatan=lambda x: x%3==0
list(filter(kelipatan, range(10)))

[0, 3, 6, 9]

2. Buatlah fungsi lambda untuk memilih kata-kata dengan jumlah karakter lebih dari sama dengan 6 pada list inputnya!

In [ ]:
list_input=['saya','adalah','seorang','kapiten']
karakter=lambda k: len(k)>=6
list(filter(karakter, list_input))

['adalah', 'seorang', 'kapiten']